Repository sebryk/quickdrawing-react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix
  src/api/imagesApi.ts
  src/api/types.ts
  src/components/Loader/Loader.tsx
  src/components/MessageBar/MessageBar.tsx
  src/components/image-slider/components/modal/styles.module.scss
  src/components/image-slider/types.ts
  src/components/ui/inputs/text-input/index.tsx
  src/components/ui/inputs/text-input/types.ts
  src/context/context.ts
  src/features/contact-form/contact-form.tsx
  src/pages/drawing/drawing.tsx
  src/services/Types.ts
  src/store/store.tsx
  src/utils/randomizeImages.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix
  src/components/contact-form/contact-form.tsx
  src/components/contact-form/data.ts
  src/components/contact-form/styles.module.scss
  src/components/contact-form/types.ts
  src/hooks/useContactForm.ts
  src/pages/Contact/Contact.tsx
  src/pages/Contact/styles.module.scss
  src/styles/mixins.scss
  src/styles/mixins/_effects.scss
  src/styles/mixins/_layout.scss
  src/styles/mixins/_typography.scss
  src/styles/mixins/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix
  src/components/Header/styles.module.scss
  src/components/contact-form/contact-form.tsx
  src/components/contact-form/data.ts
  src/components/contact-form/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix
  src/store/slices/timer-slice/index.tsx
Due: eslint --fix, prettier --write

fix
  src/components/control-bar/index.tsx
  src/components/error/Error.tsx
  src/components/error/styles.module.scss
  src/components/image-slider/index.tsx
  src/pages/drawing/drawing.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

Rename Types.ts to types.ts
  src/components/Header/types.ts
Due: eslint --fix, prettier --write

fix
  src/components/header/data.ts
  src/components/header/index.tsx
  src/components/header/styles.module.scss
  src/components/header/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix
  src/components/error/error.tsx
Due: eslint --fix, prettier --write

fix
  src/pages/about/about.tsx
  src/pages/about/data.ts
  src/pages/about/styles.module.scss
  src/pages/contact/contact.tsx
  src/pages/contact/data.ts
  src/pages/contact/styles.module.scss
  src/pages/home/data.ts
  src/pages/home/home.tsx
  src/pages/home/styles.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix
  src/pages/Home/Home.tsx
Due: eslint --fix, prettier --write

add privacy policy page
  src/app/router/routes.tsx
  src/pages/about/about.tsx
  src/pages/about/styles.module.scss
  src/pages/policy/data.ts
  src/pages/policy/policy.tsx
  src/pages/policy/styles.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

change name
  index.html
  src/components/footer/data.ts
  src/components/header/data.ts
  src/components/image-slider/data.ts
Due: eslint --fix, prettier --write

fix redirects
  public/_redirects
Due: none

add webp image
  src/assets/images/player.webp
  src/pages/home/home.tsx
Due: eslint --fix, prettier --write

add policy page
  src/pages/policy/data.ts
Due: eslint --fix, prettier --write

change favicon
  public/favicon.svg
Due: none

fix
  src/app/router/routes.tsx
  src/pages/privacy-policy/data.ts
  src/pages/privacy-policy/privacy-policy.tsx
  src/pages/privacy-policy/styles.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix
  src/pages/about/about.tsx
Due: eslint --fix, prettier --write

fix
  next.config.mjs
  public/_redirects
  src/app/about/about.tsx
  src/app/about/data.ts
  src/app/about/page.tsx
  src/app/contact/contact.tsx
  src/app/contact/page.tsx
  src/app/home/home.tsx
  src/app/not-found.tsx
  src/app/not-found/not-found.tsx
  src/app/page.tsx
  src/app/privacy-policy/page.tsx
  src/app/privacy-policy/privacy-policy.tsx
  src/components/image-slider/index.tsx
Due: eslint --fix, prettier --write

fix
  src/app/layout.tsx
Due: eslint --fix, prettier --write

fix type script
  package.json
  tsconfig.tsbuildinfo
  yarn.lock
Due: none

fix
  next-env.d.ts
Due: none

add docker file
  .dockerignore
  Dockerfile
Due: none

Improve drawing stability and docs
  README.md
  src/app/drawing/page.tsx
  src/utils/randomizeImages.ts
Due: eslint --fix, prettier --write

add story book
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/components/ui/buttons/burger-button/BurgerButton.stories.tsx
  src/components/ui/buttons/icon-button/IconButton.stories.tsx
  src/components/ui/buttons/main-button/MainButton.stories.tsx
  src/components/ui/inputs/text-input/TextInput.stories.tsx
  src/components/ui/tooltip/Tooltip.stories.tsx
  tsconfig.tsbuildinfo
  yarn.lock
Due: eslint --fix, prettier --write

fix main button
  next-env.d.ts
  src/app/home/components/startup-card/data.ts
  src/app/home/components/startup-card/startup-card.tsx
  src/app/home/components/startup-card/styles.module.scss
  src/app/home/home.tsx
  src/app/layout.tsx
  src/components/ui/buttons/main-button/index.tsx
  src/components/ui/buttons/main-button/styles.module.scss
  src/components/ui/buttons/main-button/types.ts
  src/components/ui/buttons/main-button/variant-props.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix background
  src/components/image-slider/styles.module.scss
  src/styles/global.scss
Due: prettier --write, stylelint --fix

add startup window
  src/app/home/components/startup-card/data.ts
  src/app/home/components/startup-card/startup-card.tsx
  src/app/home/components/startup-card/styles.module.scss
  src/app/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

add forceConsistentCasingInFileNames to ts config
  frontend/tsconfig.json
Due: none

feat: add NestJS backend with Prisma and Pinterest OAuth flow
  backend/.env.example
  backend/README.md
  backend/docker-compose.yml
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/main.ts
  backend/src/prisma/prisma.module.ts
  backend/src/prisma/prisma.service.ts
  backend/tsconfig.json
  frontend/README.md
  frontend/src/app/home/actions.ts
  frontend/src/app/home/components/startup-card/startup-card.tsx
Due: none

add oauth
  backend/.env.example
  backend/.gitignore
  backend/Dockerfile
  backend/docker-compose.yml
  backend/package.json
  backend/prisma.config.ts
  backend/prisma/migrations/20260210163321_init/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/main.ts
  backend/src/prisma/prisma.service.ts
  backend/tsconfig.json
  backend/yarn.lock
  frontend/README.md
  frontend/next-env.d.ts
  frontend/src/app/[user]/page.tsx
  frontend/src/app/[user]/styles.module.scss
  frontend/src/app/home/actions/get-pinterest-auth-url .ts
  frontend/src/app/home/components/startup-card/startup-card.tsx
  frontend/src/app/not-found/not-found.tsx
Due: none

add eslint
  backend/.eslintrc.cjs
  backend/package.json
Due: none

fix auth
  backend/src/auth/auth.controller.ts
  frontend/src/app/[user]/page.tsx
  frontend/src/app/home/components/startup-card/data.ts
  frontend/src/app/home/components/startup-card/startup-card.tsx
  frontend/src/app/home/components/startup-card/styles.module.scss
  frontend/src/app/home/home.tsx
  frontend/src/app/page.tsx
  frontend/src/components/header/styles.module.scss
  frontend/src/components/ui/buttons/main-button/styles.module.scss
  frontend/src/services/auth.ts
  frontend/src/styles/variables.scss
Due: none

refactor auth
  backend/package.json
  backend/prisma/migrations/20260213112211_add_provider_username/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/services/auth-session.service.ts
  backend/src/auth/services/oauth-account.service.ts
  backend/src/auth/services/pinterest-oauth.service.ts
  backend/src/auth/types/pinterest.types.ts
  backend/src/config/app-config.service.ts
  backend/yarn.lock
  frontend/src/app/[user]/page.tsx
Due: none

add user info
  backend/prisma/migrations/20260213122722_add_provider_username_unique/migration.sql
  backend/prisma/migrations/20260213124731_add_provider_profile_image/migration.sql
  backend/prisma/schema.prisma
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/services/oauth-account.service.ts
  frontend/next.config.mjs
  frontend/src/app/[user]/page.tsx
  frontend/src/app/[user]/styles.module.scss
  frontend/src/components/ui/buttons/icon-button/styles.module.scss
  frontend/src/components/ui/buttons/icon-button/types.ts
  frontend/src/components/ui/buttons/icon-button/variant-props.ts
  frontend/src/services/auth.ts
Due: none

add logout
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/services/auth-session.service.ts
  frontend/src/app/[user]/page.tsx
  frontend/src/app/[user]/user-info.tsx
  frontend/src/app/api/auth/logout/route.ts
  frontend/src/services/auth.ts
Due: none

add pins api
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/services/oauth-account.service.ts
  backend/src/auth/services/pinterest-oauth.service.ts
  backend/src/auth/types/pinterest.types.ts
  backend/src/config/app-config.service.ts
  backend/src/pinterest/pinterest.controller.ts
  backend/src/pinterest/pinterest.module.ts
  backend/src/pinterest/pinterest.service.ts
  frontend/src/app/[user]/page.tsx
  frontend/src/app/[user]/pins-list.tsx
  frontend/src/app/[user]/styles.module.scss
  frontend/src/app/[user]/user-info.tsx
  frontend/src/services/pinterest-pins.ts
Due: none

fix es lint
  backend/eslint.config.js
  backend/package.json
  backend/src/main.ts
  backend/src/prisma/prisma.service.ts
  backend/yarn.lock
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --write: ((any of: src/**/*.{ts,tsx,js,jsx}) or (any of: src/**/*.{css,scss})) or (any of: src/**/*.json)
  stylelint --fix: any of: src/**/*.{css,scss}
